/* override show css */
body.displaying-page.action-edit .app-google-analytics {padding-top:10px; border:0; background:none; height:auto;}

.app-google-analytics {text-align:center;font-size:80%; line-height:2em; }
.app-google-analytics .notice {  }
.app-google-analytics input {width:12em;}
.app-google-analytics a.button { cursor:pointer; border:1px solid #aaa; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:2px 5px; }

.app-google-analytics .analytics-key {padding:0.5em;}
.app-google-analytics .analytics-key .remove {display:inline;}
.app-google-analytics .analytics-key .remove a {cursor:pointer; font-size:1px; line-height:1px; letter-spacing:-1px; color:transparent; padding:10px 10px; }

.app-google-analytics .analytics-key .remove a {background: transparent url(../images/delete-small.png) 0px 0px no-repeat;}
.app-google-analytics .analytics-key .remove a:hover {background-position:0px -60px; background-color: transparent;}

.app-google-analytics .analytics-key .editable {display:inline;}
.app-google-analytics .analytics-key .editable.hidden {display:none;}